@charset "UTF-8";

@font-face {
    font-family: "toko1001";
    src:url("../../fonts/toko1001.eot");
    src:url("../../fonts/toko1001.eot?#iefix") format("embedded-opentype"),
        url("../../fonts/toko1001.woff") format("woff"),
        url("../../fonts/toko1001.ttf") format("truetype"),
        url("../../fonts/toko1001.svg#toko1001") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "toko1001" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "toko1001" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-voucher:before {
  content: "\e901";
}
.icon-buku-alat-tulis:before {
  content: "\6b";
}
.icon-elektronik-audio:before {
  content: "\6c";
}
.icon-fashion:before {
  content: "\6d";
}
.icon-handphone-tablet:before {
  content: "\6e";
}
.icon-hobby-jamtangan:before {
  content: "\6f";
}
.icon-kamera-1:before {
  content: "\70";
}
.icon-kesehatan-kecantikan:before {
  content: "\71";
}
.icon-komputer-1:before {
  content: "\72";
}
.icon-makanan-minuman:before {
  content: "\73";
}
.icon-mainan-bayi:before {
  content: "\74";
}
.icon-olahraga-musik:before {
  content: "\75";
}
.icon-otomotif-1:before {
  content: "\76";
}
.icon-peralatan-rumahtangga:before {
  content: "\77";
}
.icon-tas-koper:before {
  content: "\78";
}
.icon-perawatan-hewan-peliharaan:before {
  content: "\e800";
}
