
/* ============================== This is for Overall Styling of the Image Gallery. */
.gallery-container
{
	display:table;
	position:relative;
	text-align:center; 
}

/* Styling the Pagination Thumbnail Images. */
.pagi-container
{
	text-align:center; 
	padding-top:350px; /* This creates the space for viewing the Slider Images. */
	position:relative;
}

.pagi-container input[name='input_thumb'] 
{
	display: none;	
}

.pagi-container >label
{
	padding:5px; /* This is important to Increase the Click-able Region of the anchor Elements */
	display:inline-flex;	
	transition: all 0.5s;
	margin-bottom: 5px;
}

.pagi-container label img
{
	opacity:0.7;	
}

.pagi-container label img:hover
{
	opacity:1.0;
}

/* This will add the Click Effect */
.pagi-container input[name='input_thumb']:checked+label {
	opacity: 1;
}

.pagi-container input[name='input_thumb']:checked+label>img
{
	opacity:1;
}

.pagi-container input[name='input_thumb']:checked+label+img {
	opacity: 1;
	position:absolute;
	left:0px;
	top:0px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;	
	transform: scale(1);	
}

/* Adding #background region to hide the images coming from bottom direction, as it'll overlap with the Pagination Thumbnail images, while transitioning from Down direction. */
#background
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 26%;
	background-color: white;
	z-index: -1;
}

/* Different Styling for each Patterns. */
.DefaultBigStyle1
{
	position:absolute;
	opacity:0;
	height:345px;
	left:0px;
	top:0px;	
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	transform:scale(1.05);
}