body {
    background: #f8f8f9;
}

#banner {
    /* 	background: #630373; */
    background: #042e3a;

}

.banner_right {
    text-align: right;
    color: #d0d2d2;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
}

.banner_right a {
    color: #d0d2d2;
    text-decoration: none;
}

.navbar {
    border: 0;
}

.banner_left {
    text-align: left;
    color: #d0d2d2;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
    margin-left: -15px;
}
.banner_left_xs {
    text-align: left;
    color: #d0d2d2;
    text-transform: uppercase;
    font-size: 8px;
    text-decoration: none;
    margin-left: -20px;
}

/*img.invert {
    -webkit-filter: invert(1);
    filter: invert(1);
}*/

#topnavbar {
    margin: 0;
}

#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.top-menu {
    background: #064051;
    /* 	background: #7e1198; */
    border-color: transparent;
}

.footer {
    border-top: 1px solid #0d4251;
    padding-top: 16px;
    background: #e9eaed;
}

.footer p {
    font-size: 12px;
    margin-top: 18px;
}

.full-img {
    min-width: 100%;
    padding-bottom: 10px;
}
.full-img-floor {
    min-width: 100%;

}
@media screen and (max-width:767px){
    .full-img {
/*        min-width: 100%;*/
        padding-bottom: 10px;
    }
}
.full-img2 {
    /*    min-width: 100%;*/
    padding-bottom: 10px;
}

.floor_title {
    font-size: 22px;
    font-weight: bold;
    margin-left: 60px;
    text-transform: uppercase;
}


.floor_front_category {
    background: #0992A6;
    color: #fff;
    padding-left: 20px;
}

.footer_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.footer_menu_list a {
    padding-bottom: 4px;
    padding-top: 4px;
    /*	padding-left: 16px;*/
    padding-right: 16px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}

.footer_menu_list li a:hover {
    background-color: #5da9de;
    color: #fff;
}

#promo_xs:hover {    
    color: #FFFFFF;
}

.footer_menu {
    /* 	background-color: #5f8fb1; */
    color: #303c68;
    /*	padding-bottom: 8px;*/
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 16px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.button_register {
    background-color: #852a5d;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 8px;
    font-weight: bold;
}

.button_register a {
    background-color: #852a5d;
    text-decoration: none;
    color: #fff;
}

.button_register a:hover {
    background-color: #852a5d;
    text-decoration: none;
    color: #fff;
}

.menu_title {
    margin-top: 26px;
    padding-top: 8px;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.footer_text_small {
    /*	font-family: "Ubuntu", Helvetica, Arial, sans-serif;*/
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.bottom_page a {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    font-size: 11px;
    color: white;
}

.bottom_page p {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: white;
}

.bottom_page a:hover {
    text-decoration: none;
}

.bottom_page {
    background: #064051;
    padding-top: 8px;
}

/* Hover effect */
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: inline-block;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 100%;
    /*background: black;*/
    opacity: 0.8;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: #3c4a50;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.hovereffect:hover img {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    float: left;
    margin: 0px;
    display: inline-block;
}
.hover01 {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: left;
    display: inline-block;
    cursor: default;
}

.hover01 .overlay {
    /*	width: 100%;
            position: absolute;
            overflow: hidden;
            left: 0;
            top: auto;
            bottom: 0;
            padding: 1em;
            height: 100%;
            background: black;
            opacity: 0.8;
            color: #3c4a50;
            -webkit-transition: -webkit-transform 0.35s;
            transition: transform 0.35s;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
            color: #3c4a50;*/
    /*    width: 100%;
        position: absolute;
        overflow: hidden;
        left: 60px;
        top: 150px;
        bottom: 0px;
        padding: 1em;
        height: 100%;
        opacity: 0.8;
        transition: transform 0.35s ease 0s;
        transform: translate3d(0px, 100%, 0px);
        color: #3C4A50;*/
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 20%; 
    top: 25px;
    bottom: 0px;
    padding: 1em;
    height: 100%;
    opacity: 0.8;
    transition: transform 0.35s ease 0s;
    transform: translate3d(0px, 100%, 0px);
    color: #3C4A50;
}

.hover01 img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}
img.load_img{
    background-repeat: no-repeat;
    background-image: url("../../../assets/img/home/loading.gif");
    background-position: center;
}

.hover01:hover img {
    /*    -webkit-transform: translate3d(0, -10%, 0);*/
    /*    	transform: translate3d(0, -10%, 0);*/
}

.hover01 h2 {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    float: left;
    margin: 0px;
    display: inline-block;
}

/* .hovereffect a.info { */
/* 	text-decoration: none; */
/* 	display: inline-block; */
/* 	text-transform: uppercase; */
/* 	color: #fff; */
/* 	border: 1px solid #fff; */
/* 	background-color: transparent; */
/* 	opacity: 0; */
/* 	filter: alpha(opacity = 0); */
/* 	-webkit-transition: all .2s ease-in-out; */
/* 	transition: all .2s ease-in-out; */
/* 	margin: 50px 0 0; */
/* 	padding: 7px 14px; */
/* } */

/* .hovereffect a.info:hover { */
/* 	box-shadow: 0 0 5px #fff; */
/* } */
.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    margin-top: 80px;
    text-transform: uppercase;
    color: black;
    border: 1px solid black;
    /*background-color: transparent;*/
    background-color: white;
    filter: alpha(opacity =     0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-top: 80px;
}

.hovereffect a.info_land {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    margin-top: 35px;
    text-transform: uppercase;
    color: black;
    border: 1px solid #fff;
    /*background-color: transparent;*/
    background-color: white;
    filter: alpha(opacity =     0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 1px #fff;
}

.hovereffect p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,.hovereffect:hover p.icon-links a:focus
{
    color: #252d31;
}

.hovereffect h2,.hovereffect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
}

.hovereffect p.icon-links a span:before {
    display: inline-block;
    padding: 8px 10px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hovereffect:hover .overlay,.hovereffect:hover h2,.hovereffect:hover p.icon-links a
{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hovereffect:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.hover01 a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    margin-top: 80px;
    text-transform: uppercase;
    color: black;
    border: 1px solid black;
    /*background-color: transparent;*/
    background-color: white;
    filter: alpha(opacity =     0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-top: 80px;
}

.hover01 a.info_land{
    /*    display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        margin-top: 35px;
            text-transform: uppercase;
        color: black;
        border: 1px solid #fff;
        background-color: transparent;
        background-color: rgb(202, 221, 236);
        filter: alpha(opacity =     0);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;*/
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    margin-top: 35px;
    /* text-transform: uppercase; */
    color: #FBF6F6;
    border: 1px solid #2A63D2;
    /* background-color: transparent; */
    background-color: rgb(6, 64, 81);
    filter: alpha(opacity = 0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}
.hover01 a.info_land2{
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    margin-top: 0px;
    /*	text-transform: uppercase;*/
    color: black;
    border: 1px solid #fff;
    /*background-color: transparent;*/
    background-color: rgb(202, 221, 236);
    filter: alpha(opacity =     0);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}

.hover01 a.info:hover {
    box-shadow: 0 0 1px #fff;
}

.hover01 p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}

.hover01:hover p.icon-links a:hover,.hover01:hover p.icon-links a:focus
{
    color: #252d31;
}

.hover01 h2,.hover01 p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
}

.hover01 p.icon-links a span:before {
    display: inline-block;
    padding: 8px 10px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hover01:hover .overlay,.hover01:hover h2,.hover01:hover p.icon-links a
{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hover01:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.hover01:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hover01:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.hover01:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

form.search_bar {
    width: 100%;
    padding: 0;
    margin-left: -15px;
}

.underline {
    border-bottom: 2px solid red;
}

.search_bar_input {
    width: 100%;
    height: 36px;
    border: 1px solid #064051;
    padding: 6px 12px;
}

.search_bar input:focus {
    outline: none;
}

.search_bar_btn {
    text-align: center;
    padding-left: 16px;
    position: absolute;
    padding-right: 16px;
    right: 0;
    background: #0992a6;
    border: 1px solid #069bb1;
    color: #fff;
    height: 36px;
}

#primary_nav_wrap {
    margin-top: 15px
}

#primary_nav_wrap ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding-left: 0;
}

#primary_nav_wrap ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: lighter;
    padding: 0 15px;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    line-height: 32px;
}

#primary_nav_wrap ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#primary_nav_wrap ul li.current-menu-item {
    background: #f8f8f9;
    color: #18313d;
}

#primary_nav_wrap .current-menu-item ul li:hover  a:hover {
    /*    background: #f6f6f6;*/
    /*    background-color: #50A7DB;
    */    color: white;
}
#primary_nav_wrap .current-menu-item>ul>li>a {
    /*    background: #f6f6f6;*/
    /*    background-color: #50A7DB;
        text-transform: uppercase;*/
}

.floornewproduct_category {
    background: #0992A6;
    color: #fff;
    padding-left: 20px;
}
.floornewproduct_number{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #f8f8f9;
    /*    background: #0992A6;*/
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    margin-top:4px;
    overflow: hidden;
    color: #e50052;    
}
.floornewproduct {
    background: #0992A6;
    border-top: 4px solid #0992A6;
}

/*handphone-tablet*/
.box.box-handphone-tablet{border-top-color:#85CCBA}
.li-handphone-tablet:hover > a:hover{
    background-color: #85CCBA;

}
.floorhandphone-tablet_category {
    background: #85CCBA;
    color: #fff;
    padding-left: 20px;
}

.floorhandphone-tablet {
    background: #85CCBA;
    border-top: 4px solid #85CCBA;
}

.floorhandphone-tablet_menu_list li a:hover {
    background-color: #85CCBA;
    color: #fff;
}
.floorhandphone-tablet_category {
    background: #85CCBA;
    color: #fff;
    padding-left: 20px;
}

.floorhandphone-tablet_menu_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #AFDDD0;
    color: #fff;
    font-size: 13px;
}

.floorhandphone-tablet_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.floorhandphone-tablet_menu_list a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}


.floorhandphone-tablet_number {
    position: absolute;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    background: #f8f8f9;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    overflow: hidden;
    color: #e50052;
}

/*komputer*/
.box.box-komputer{border-top-color:#9F6BB3}
.li-komputer:hover a:hover{
    background-color: #9F6BB3;
}
.floorkomputer_category {
    background: #9F6BB3;
    color: #fff;
    padding-left: 20px;
}

.floorkomputer {
    background: #9F6BB3;
    border-top: 4px solid #9F6BB3;
}

.floorkomputer_menu_list li a:hover {
    background-color: #9F6BB3;
    color: #fff;
}

.floorkomputer_menu_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #c4a0d2;
    color: #fff;
    font-size: 13px;
}

.floorkomputer_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.floorkomputer_menu_list a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}


.floorkomputer_number {
    position: absolute;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    background: #f8f8f9;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    overflow: hidden;
    color: #e50052;
}

/*elektronik-audio*/
.box.box-elektronik-audio{border-top-color:#851A35}
.li-elektronik-audio:hover a:hover{
    background-color: #851A35;

}
.floorelektronik-audio_category {
    background: #851A35;
    color: #fff;
    padding-left: 20px;
}

.floorelektronik-audio {
    background: #851A35;
    border-top: 4px solid #851A35;
}

.floorelektronik-audio_menu_list li a:hover {
    background-color: #851A35;
    color: #fff;
}

.floorelektronik-audio_menu_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FDB3CD;
    color: #fff;
    font-size: 13px;
}

.floorelektronik-audio_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.floorelektronik-audio_menu_list a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}


.floorelektronik-audio_number {
    position: absolute;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    background: #f8f8f9;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    overflow: hidden;
    color: #e50052;
}

/*fashion*/
.box.box-fashion{border-top-color:#03B2E7}
.li-fashion:hover a:hover{
    background-color: #03B2E7; /*fashion pria*/
}
.floorfashion_category {
    background: #03B2E7;
    color: #fff;
    padding-left: 20px;
}

.floorfashion {
    background: #03B2E7;
    border-top: 4px solid #03B2E7;
}

.floorfashion_menu_list li a:hover {
    background-color: #03B2E7;
    color: #fff;
}

.floorfashion_menu_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #7EC8DF;
    color: #fff;
    font-size: 13px;
}

.floorfashion_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.floorfashion_menu_list a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}


.floorfashion_number {
    position: absolute;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    background: #f8f8f9;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    overflow: hidden;
    color: #e50052;
}

/*kesehatan-kecantikan*/
.box.box-kesehatan-kecantikan{border-top-color:#E50052}
.li-kesehatan-kecantikan:hover a:hover{
    background-color: #E50052; /*fashion wanita*/
}
.floorkesehatan-kecantikan_category {
    background: #E50052;
    color: #fff;
    padding-left: 20px;
}

.floorkesehatan-kecantikan {
    background: #E50052;
    border-top: 4px solid #E50052;
}

.floorkesehatan-kecantikan_menu_list li a:hover {
    background-color: #E50052;
    color: #fff;
}

.floorkesehatan-kecantikan_menu_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #ED739F;
    color: #fff;
    font-size: 13px;
}

.floorkesehatan-kecantikan_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.floorkesehatan-kecantikan_menu_list a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}


.floorkesehatan-kecantikan_number {
    position: absolute;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    background: #f8f8f9;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    overflow: hidden;
    color: #e50052;
}

/*hobby-jam-tangan*/
.box.box-hobby-jam-tangan{border-top-color:#005E80}
.li-hobby-jam-tangan:hover{
    background-color: #005E80;
}
.floorhobby-jam-tangan_category {
    background: #005E80;
    color: #fff;
    padding-left: 20px;
}

.floorhobby-jam-tangan {
    background: #005E80;
    border-top: 4px solid #005E80;
}

.floorhobby-jam-tangan_menu_list li a:hover {
    background-color: #005E80;
    color: #fff;
}

.floorhobby-jam-tangan_menu_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #32809C;
    color: #fff;
    font-size: 13px;
}

.floorhobby-jam-tangan_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.floorhobby-jam-tangan_menu_list a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}


.floorhobby-jam-tangan_number {
    position: absolute;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    background: #f8f8f9;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    overflow: hidden;
    color: #e50052;
}

/*kamera*/
.box.box-kamera{border-top-color:#2AA5AD}
.li-kamera:hover{
    background-color: #2AA5AD;
}
.floorkamera_category {
    background: #2AA5AD;
    color: #fff;
    padding-left: 20px;
}

.floorkamera {
    background: #2AA5AD;
    border-top: 4px solid #2AA5AD;
}

.floorkamera_menu_list li a:hover {
    background-color: #2AA5AD;
    color: #fff;
}

.floorkamera_menu_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #6BC0C5;
    color: #fff;
    font-size: 13px;
}

.floorkamera_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.floorkamera_menu_list a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}


.floorkamera_number {
    position: absolute;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    background: #f8f8f9;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    overflow: hidden;
    color: #e50052;
}

/*peralatan-rumah-tangga*/
.box.box-peralatan-rumah-tangga{border-top-color:#F4A610}
.li-peralatan-rumah-tangga:hover{
    background-color: #F4A610;
}
.floorperalatan-rumah-tangga_category {
    background: #F4A610;
    color: #fff;
    padding-left: 20px;
}

.floorperalatan-rumah-tangga {
    background: #F4A610;
    border-top: 4px solid #F4A610;
}

.floorperalatan-rumah-tangga_menu_list li a:hover {
    background-color: #F4A610;
    color: #fff;
}

.floorperalatan-rumah-tangga_menu_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #F7C159;
    color: #fff;
    font-size: 13px;
}

.floorperalatan-rumah-tangga_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.floorperalatan-rumah-tangga_menu_list a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}


.floorperalatan-rumah-tangga_number {
    position: absolute;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    background: #f8f8f9;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    overflow: hidden;
    color: #e50052;
}

/*olahraga-musik*/
.box.box-olahraga-musik{border-top-color:#A60006}
.li-olahraga-musik:hover{
    background-color: #A60006;
}
.floorolahraga-musik_category {
    background: #A60006;
    color: #fff;
    padding-left: 20px;
}

.floorolahraga-musik {
    background: #A60006;
    border-top: 4px solid #A60006;
}

.floorolahraga-musik_menu_list li a:hover {
    background-color: #A60006;
    color: #fff;
}

.floorolahraga-musik_menu_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #DF6D71;
    color: #fff;
    font-size: 13px;
}

.floorolahraga-musik_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.floorolahraga-musik_menu_list a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}


.floorolahraga-musik_number {
    position: absolute;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    background: #f8f8f9;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    overflow: hidden;
    color: #e50052;
}

/*otomotif*/
.box.box-otomotif{border-top-color:#93BF50}
.li-otomotif:hover{
    background-color: #93BF50;
}
.floorotomotif_category {
    background: #93BF50;
    color: #fff;
    padding-left: 20px;
}

.floorotomotif {
    background: #93BF50;
    border-top: 4px solid #93BF50;
}

.floorotomotif_menu_list li a:hover {
    background-color: #93BF50;
    color: #fff;
}

.floorotomotif_menu_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #BAD493;
    color: #fff;
    font-size: 13px;
}

.floorotomotif_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.floorotomotif_menu_list a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}


.floorotomotif_number {
    position: absolute;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    background: #f8f8f9;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    overflow: hidden;
    color: #e50052;
}

/*makanan-minuman*/
.box.box-makanan-minuman{border-top-color:#F1763B}
.li-makanan-minuman:hover{
    background-color: #F1763B;
}
.floormakanan-minuman_category {
    background: #F1763B;
    color: #fff;
    padding-left: 20px;
}

.floormakanan-minuman {
    background: #F1763B;
    border-top: 4px solid #F1763B;
}

.floormakanan-minuman_menu_list li a:hover {
    background-color: #F1763B;
    color: #fff;
}

.floormakanan-minuman_menu_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #F9AE8A;
    color: #fff;
    font-size: 13px;
}

.floormakanan-minuman_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.floormakanan-minuman_menu_list a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}


.floormakanan-minuman_number {
    position: absolute;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    background: #f8f8f9;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    overflow: hidden;
    color: #e50052;
}

/*buku-alat-tulis*/
.box.box-buku-alat-tulis{border-top-color:#6EC8D0}
.li-buku-alat-tulis:hover{
    background-color: #6EC8D0;
}
.floorbuku-alat-tulis_category {
    background: #6EC8D0;
    color: #fff;
    padding-left: 20px;
}

.floorbuku-alat-tulis {
    background: #6EC8D0;
    border-top: 4px solid #6EC8D0;
}

.floorbuku-alat-tulis_menu_list li a:hover {
    background-color: #6EC8D0;
    color: #fff;
}

.floorbuku-alat-tulis_menu_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #88DBE2;
    color: #fff;
    font-size: 13px;
}

.floorbuku-alat-tulis_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.floorbuku-alat-tulis_menu_list a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}


.floorbuku-alat-tulis_number {
    position: absolute;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    background: #f8f8f9;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    overflow: hidden;
    color: #e50052;
}



/*mainan-bayi*/
.box.box-mainan-bayi{border-top-color:#ABCE72}
.li-mainan-bayi:hover{
    background-color: #ABCE72;
}
.floormainan-bayi_category {
    background: #ABCE72;
    color: #fff;
    padding-left: 20px;
}

.floormainan-bayi {
    background: #ABCE72;
    border-top: 4px solid #ABCE72;
}

.floormainan-bayi_menu_list li a:hover {
    background-color: #ABCE72;
    color: #fff;
}

.floormainan-bayi_menu_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #C5DCA0;
    color: #fff;
    font-size: 13px;
}

.floormainan-bayi_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.floormainan-bayi_menu_list a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}


.floormainan-bayi_number {
    position: absolute;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    background: #f8f8f9;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    overflow: hidden;
    color: #e50052;
}

/*tas-koper*/
.box.box-tas-koper{border-top-color:#ED242A}
.li-tas-koper:hover{
    background-color: #ED242A;
}
.floortas-koper_category {
    background: #ED242A;
    color: #fff;
    padding-left: 20px;
}

.floortas-koper {
    background: #ED242A;
    border-top: 4px solid #ED242A;
}

.floortas-koper_menu_list li a:hover {
    background-color: #ED242A;
    color: #fff;
}

.floortas-koper_menu_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #E8686C;
    color: #fff;
    font-size: 13px;
}

.floortas-koper_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.floortas-koper_menu_list a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}


.floortas-koper_number {
    position: absolute;
    padding-top: 2px;
    width: 50px;
    height: 50px;
    margin-top: 4px;
    background: #f8f8f9;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    overflow: hidden;
    color: #e50052;
}

/*.table-menu>tbody>tr>td>a>strong:hover {
    background: #f6f6f6;
    color: #EBEBBA;
    
}*/

#primary_nav_wrap ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    color: #18313d;
    padding: 0
}

#primary_nav_wrap ul ul li {
    float: none;
    width: 277px;
    position: static;
}

#primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px;

}

#primary_nav_wrap li.current-menu-item a {
    color: #18313d;
}

#primary_nav_wrap ul li:hover {

}

#primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%
}

#primary_nav_wrap ul li:hover>ul {
    display: block
}

.breadcrumb {
    padding: 0 10px;
}

.breadcrumb>li+li:before {
    padding: 5px 0px;
    color: #ccc;
    content: ">";
    position: absolute;
}

.category_title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 0;
    text-transform: uppercase;
}

.category_floor {
    background: transparent;
}

.hovereffect p.title {
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    /*height: 14px*1.4*2;*/
    /* Fallback for non-webkit */
    margin: 0 auto;
    line-height: 1.4;
}


p.title-produk 
{
    /*white-space:pre;*/
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;  
    display: -webkit-box;
    /*    width: 148px;*/
    color:black;
}


.hovereffect p.old-price {
    font-size: 12px;
    color: #979c9e;
    margin-top: 10px;
    text-decoration: line-through;
}

.hovereffect p.new-price {
    font-size: 20px;
    color: #f48a00;
    font-weight: bold;
}
.new-price{

    color:red;
    font-weight: bold;
}
.old-price{

    font-size: 12px;
    text-decoration:line-through;

}

.no-old-price{
    /*    margin-bottom: 8px;*/
    font-size: 12px;
}
@-moz-document url-prefix() { 
    .no-old-price{
    /*    margin-bottom: 30px;*/
}}

.no-old-price-xs{
    margin-bottom: 9px;
    font-size: 12px;
}

.default_btn {
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    background: darkslategray;
    border: 1px solid darkslategray;
    color: #fff;
    height: 36px;
}

.diskon {
    width: 50px;
    height: 50px;
    position: absolute;
    padding-left: 5px;
    padding-top: 5px;
    top: 0;
    right: -10px;
    z-index: 88;
    background: url('../../img/home/04.png') no-repeat top;
}

.disc-box {
    font-size: 13px;
    color: #ffffff;
}
.sold-out-box{
    font-size: 13px;
    color: #ffffff;
}
.sold-out-box p{
    margin: 5px 0 0 0;
}

.white {
    color: #fff;
}

.list-group.panel {
    background: #274452;
}

.list-group.panel>.list-group-item {
    background: transparent;
    border: 0;
}

div>.list-group-item {
    background: transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 0;
}

.list-group-submenu {
    margin-left: 20px;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.detail h1 {
    font-size: 22px;
    font-weight: 600;
}

.detail span {
    font-size: 14px;
}

.detail .new_price {
    font-size: 35px;
    font-weight: 600;
    color:red;


}

.detail .old_price {
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    text-decoration: line-through;
}

.detail .detail_diskon {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}

.buy_button {
    text-align: center;
    width: 90%;
    right: 0;
    background: #fd8f01;
    border: 1px solid #fd8f01;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.add_chart_button {
    text-align: center;
    width: 90%;
    right: 0;
    background: #127dea;
    border: 1px solid #127dea;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.detail .info {
    margin-top: 20px;
    font-size: 12px;
}

.deskripsi {
    font-size: 14px;
    text-align: justify;
    padding: 14px 0 14px 0;
}

.detail span.abuabu {
    font-size: 12px;
    color: gray;
}

.detail div.hot {
    font-size: 16px;
    padding-top: 15px;
    padding-left: 15px;
    color: white;
    height: 54px;
    width: 150px;
    display: inline-block;
    background: url("../../img/home/hot_product.png") no-repeat top left;
    display: inline-block;
    color: white;
}
/* KONFIGURASI IMG HOVER01*/
.hover01 {
    /*padding: 5px;*/
    background: #fff;
    overflow: hidden;
}

.title-produk-box{
    /*    width: 155px;*/
    overflow: hidden;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    max-height: 43px;
    min-height: 43px;
}

/* Zoom In #1 */
.hover01 img {
    -webkit-transform: scale(1);
    /*    transform: scale(1);*/
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover01 :hover img  {
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
}
.hover02 {
    /*padding: 5px;*/
    background: #fff;
    overflow: hidden;
}

/* Zoom In #1 */
.hover02 img {
    -webkit-transform: scale(1);
    /*    transform: scale(1);*/
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover02 :hover img {
    -webkit-transform: scale(1.3);
    transform: scale(0.9);
}

.row_white {
    background: white;
    margin-left: 0;
    margin-right: 0
}

.nav-tabs>li>a {
    border-radius: 0;
}

.font22 {
    font-size: 22px;
}

.bag_box {
    position: absolute;
    margin-top: 8px;
    margin-left: -25px;
    /*padding-right: 250px;*/
}

.bag_number {
    position: absolute;
    margin-left: -19px;
    margin-top: 6px;
    color: black;
    font-weight: bolder;
    /*    font-size: 16px;*/
}


.big_title {
    font-size: 24px;
    font-weight: 600;
    margin-left: 0;
    text-transform: uppercase;
}

.big_li.submenu {
    top: 0px;
}

@media ( min-width : 768px) {
    #primary_nav_wrap ul ul li.big_li {
        width: 500px;
    }
    .banner_menu {
        display: none;
    }
}

@media ( min-width : 860px) {
    #primary_nav_wrap ul ul li.big_li {
        width: 640px;
    }
    .banner_menu {
        display: block;
    }
}

#primary_nav.submenu {
    top: -30px;
}

#primary_nav_wrap ul ul li.big_li a:hover {
    background: #064051;
    color: #fff;
}

#primary_nav_wrap .submenu {
    background: #eceef3;
}

#primary_nav_wrap .submenu a {
    font-size: 13px;
}

@media ( min-width : 100px) {
    .navbar-brand.logo {
/*        height: 60px;*/
    }
    .logo img {
        height: 30px;
        margin-top: 3px;
        height: 48px;
    }
}

@media ( min-width : 1200px) {
    .navbar-brand.logo {
        height: 70px;
    }
    .logo img {
        height: 48px;
    }
}

.panel-khusus{
    margin-right: -25px;

}
.panel-produk-baru{
    margin-right: -14px;
    margin-left: -15px;
    border-radius: 0px;
}

.scrollable {

    overflow-x: hidden; }
.diskon-produk-baru {
    width: 50px;
    height: 50px;
    position: absolute;
    padding-left: 14px;
    padding-top: 5px;
    top: 0;
    right: 0px;
    z-index: 88;
    background: url('../../img/home/04.png') no-repeat top;
}
.sold-out-produk-baru{
    width: 80px;
    height: 50px;
    position: absolute;
    padding-left: 14px;
    top: 0;
    right: 0px;
    z-index: 88;
    background: url('../../img/home/sold-out.png') no-repeat top;    
}
.alert-error-home {
    background-color: #ffebe8;
    border: 1px solid #dd3c10;
    color: #000000
}
.alert-success-home {
    background-color:#9effb6; 
    border: 1px solid #00661a;
    color: #00661a
}
.floornew_category {
    background: #0992A6;
    color: #fff;
    padding-left: 20px;
    height: 54px;
    border-top: 2px solid #0992A6;
    border-bottom: 2px solid #0992A6;
}

.floornew {
    background: #fff;
    border-top: 4px solid #F3877A;
}

.floornew_menu_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FAC2B5;
    color: #fff;
    font-size: 13px;
}

.floornew_menu_list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.floornew_menu_list a {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #39393b;
    font-size: 13px;
    text-decoration: none;
    display: block;
}

.floornew_menu_list li a:hover {
    background-color: #F3877A;
    color: #fff;
}

.floornew_number {
    /*    position: absolute;*/
    /* padding-top: 2px; */
    width: 50px;
    height: 50px;
    /* margin-top: 4px; */
    /* background: #f8f8f9; */
    /* border-radius: 50%; */
    /* text-align: center; */
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    overflow: hidden;
    /* color: #2e266d; */
}
.floornew_title {
    font-size: 22px;
    font-weight: bold;
    /*    margin-left: 40px;*/
    text-transform: uppercase;
    margin-top: 17px;

}

.floornew_title_for_xs {
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    text-transform: uppercase;

}
@media screen and (max-width:768px)
{
    .floornew_title_for_xs {
        font-size: 13px;
        font-weight: bold;
        /*    margin-left: 30px;*/
        /*    text-transform: uppercase;*/
        /*    margin-top: 14px;*/
    }
}
@media screen and (max-width:427px)
{
    .floornew_title_for_xs {
        font-size: 10px;
        font-weight: bold;
        /*    margin-left: 30px;*/
        /*    text-transform: uppercase;*/
        /*    margin-top: 14px;*/
    }
    #linkxs {
        margin-right:-15px;
    }
}
@media screen and (max-width:307px)
{
    .floornew_title_for_xs {
        font-size: 9px;
        font-weight: bold;
        /*    margin-left: 30px;*/
        /*    text-transform: uppercase;*/
        /*    margin-top: 14px;*/
    }
    #linkxs {
        margin-right:-15px;
    }
}

@media screen and (max-width:767px) and (min-width:639px)
{
    #img-prev-slider{
        width:100%;
    }
}

.produk_title{
    margin-top:20px;
}
.diskon-xs {
    width: 50px;
    height: 50px;
    position: absolute;
    padding-left: 5px;
    padding-top: 5px;
    top: 0;
    right: 13px;
    z-index: 88;
    background: url('../../img/home/04.png') no-repeat top;
}
#title-tab{
    font-size:12px;
}

.table>tr>td .cart {

    vertical-align: middle;
    text-align:right;
}
#merchant_name{
    margin-top:0px;
    color:#064051;
    font-weight: bold;

}
#garis-merchant{
    border-top: 1px solid #064051;
    border-top-style: dotted;
    margin-bottom:10px;
    margin-top:2px;
}
#smalbox {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
#tr-cart{
    text-align:center;
}
#img-profil-merchant{
    width:255px; 
    height:200px; 
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 1200px;
    margin-bottom: 10px;
    height: 300px;
}

.fb-image-profile
{
    margin: -50px 10px 1px 10px;
    z-index: 9;    
    width: 200px;
    height: 200px;
}

@media (max-width:768px)
{

    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .fb-image-profile
    {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%; 
    }
}

@media (max-width:764px)
{
    #captcha_img_member {
        height:110px;
    }
    #captcha_img_member > img{
        margin-bottom:2px;        
        height:100px;

        /*display:none;*/
    }
}
@media (min-width:765px)
{
    #captcha_img_member {
        height:65px;
    }
    #captcha_img_member > img{
        margin-bottom:2px;        
        height:65px;        
    }
}

.btn span.glyphicon {    			
    opacity: 0;				
}
.btn.active span.glyphicon {				
    opacity: 1;				
}
.user-wrapper {
    border:solid;
    border-color:#CCDADF;
    border-radius: 5px;
    margin-bottom:10px;
}
.description {
    padding-top: 8px;
    padding-bottom: 13px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #0C5C74;
    color: white;
    margin-left: -5px;
}
.description-2 {
    padding-top: 30px;
    padding-bottom: 28px;
    padding-right: 45px;
    padding-left: 36px;
    background-color: #0992A6;
    color: white;
    margin-left: -30px;

}
.description-inside {
    padding: 25px;
    background-color: #FFFFF;
}

.control-label2{
    text-align:left

}
.img-profile{
    width: 128%;
    height: 121px;

}
@media (max-width : 760px){
    .img-profile{
        width: 130%;
        height: 182px;


    }
}
.title-right{
    font-size: 75%;
    text-align:center;
}
.jml-beli{
    font-size: 75%;

}
.font-produk-beli{
    font-size: 70%;
}
.table-menu>tbody>tr>td, .table-menu>tbody>tr>th, .table-menu>tfoot>tr>td, .table-menu>tfoot>tr>th, .table-menu>thead>tr>td, .table-menu>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd; 
}
.fixed-content {

    height:508px;  overflow-y: auto;

}
@-moz-document url-prefix() {
    .search_bar_input {
    height: 35.2px;
}
}
@media screen and (min-width:1306px){
    @-moz-document url-prefix() {       
        .search_bar_input{
        margin-right:100px;
    }
}
} 
modal {
    overflow-y: auto;
}
.modal-open {
    overflow: auto;
}
.modal-open[style] {
    padding-right: 0px !important;
}

.hover01>a>img.img-terbaru{
    width:160px;
    /*    height:160px;*/
}

.height_fix_product{
    min-height: 299px;
}

ul.textleftright > li > a{
    position: relative;
    padding-right: 70px;
}

ul.textleftright > li > a > span.kbd{
    position: absolute;
    right: 20px;
    top: 6px;
}
.footer_menu_list a.sendemail{
    padding: 0;
    margin: 0;
    display: inline;
    color: #39393b;
    font-size: 14px;
}

.footer_menu_list a.sendemail:hover{
    background-color:transparent;
    color:#39393b;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.st_facebook_custom{
    background-repeat: no-repeat;
    background-image: url("../../../assets/img/home/icons/facebook.png");
    /*    background-size: 28px 28px;*/
    /*    background-position: center;*/
    height:28px;
    width:28px;
    cursor: pointer;
    margin-right:5px !important;
}
.st_twitter_custom{
    background-repeat: no-repeat;
    background-image: url("../../../assets/img/home/icons/twitter.png");
    /*    background-size: 28px 28px;*/
    /*    background-position: center;*/
    height:28px;
    width:28px;
    cursor: pointer;
    margin-right:5px !important;
}
.st_pinterest_custom{
    background-repeat: no-repeat;
    background-image: url("../../../assets/img/home/icons/pinterest.png");
    /*    background-size: 28px 28px;*/
    /*    background-position: center;*/
    height:28px;
    width:28px;
    cursor: pointer;
    margin-right:5px !important;
}
.st_googleplus_custom{
    background-repeat: no-repeat;
    background-image: url("../../../assets/img/home/icons/googleplus.png");
    /*    background-size: 28px 28px;*/
    /*    background-position: center;*/
    height:28px;
    width:28px;
    cursor: pointer;
}
.carousel_product_related-inner .active.left { left: -33%; }
.carousel_product_related-inner .next        { left:  33%; }
.carousel_product_related-inner .prev        { left: -33%; }
.carousel_product_related-control.left,.carousel_product_related-control.right {background-image:none;}
.carousel_product_related-control.left { margin-left: -30px;}
.carousel_product_related-control.right { margin-right: 30px;}


table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
    content: ""; /* sort */
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.price-slider{
    padding: 17px; width: 250px;
}

/*@media  (max-width:378px)
{
    #img_no {
        margin-top:-20px;
display:none
            margin-left: 30px;
            text-transform: uppercase;
            margin-top: 14px;
    }
    #img_yes {
        margin-top:-20px;
display:none
            margin-left: 30px;
            text-transform: uppercase;
            margin-top: 14px;
    }
}*/
@media screen and (max-width:397px){
    .floorhandphone-tablet_number{
        margin-top:15px;
    }
}
@media screen and (max-width:366px){
    .floorelektronik-audio_number{
        margin-top:15px;
    }
}
@media screen and (max-width:538px){
    #h1newtitle,.floornew_title {
        font-size:21px;                    
    }
}
@media screen and (max-width:510px){
    #h1newtitle,.floornew_title {
        font-size:20px;                    
    }
}
@media screen and (max-width:503px){
    #h1newtitle,.floornew_title {
        font-size:16px;                    
    }

    #newproductlogo{
        height:30px;
        margin-bottom: 10px;
    }
    .floornewproduct_number{
        margin-top:4px; 
        width:40px;
        height:40px;

    }
}
@media screen and (max-width:431px){
    #h1newtitle,.floornew_title {
        font-size:15px;                    
    }

    #newproductlogo{
        height:30px;
        margin-bottom: 10px;
    }
    .floornewproduct_number{
        margin-top:4px; 
        width:40px;
        height:40px;

    }
}
@media screen and (max-width:431px){
    #h1newtitle,.floornew_title {
        font-size:15px;                    
    }

    #newproductlogo{
        height:30px;
        margin-bottom: 10px;
    }
    .floornewproduct_number{
        margin-top:4px; 
        width:40px;
        height:40px;

    }
}
@media screen and (max-width:431px){
    #h1newtitle,.floornew_title {
        font-size:13px;                    
    }

    #newproductlogo{
        height:30px;
        margin-bottom: 10px;
    }
    .floornewproduct_number{
        margin-top:4px; 
        width:40px;
        height:40px;

    }
}
@media screen and (max-width:387px){
    .floornewproduct_number{
        margin-top:4px; 
        width:40px;
        height:40px;
        margin-left: -10px
    }
    .floornew_title{
        font-size:12px;
    }
    #h1newtitle{
        font-size:12px;        
        margin-left:35px;
    }
    #newproductlogo{
        height:30px;
        margin-bottom: 10px;
    }
}
@media screen and (min-width:768px)
{
    #display-5{
        display:none;
    }
}

