/*html,body{
    min-height:100%
}

.layout-boxed html,.layout-boxed body{
    height:100%
}

body{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight:400;
    overflow-x:hidden;
    overflow-y:auto
}*/

.top-menu{
    padding: 10px 0;
    text-align: right;
    font-size: 0;
    position: relative;
    background: #F0F0F0;
    width: 100%;
    height: 40px;
/*    -webkit-transition: height .25s linear;
    -moz-transition: height .25s linear;
    -o-transition: height .25s linear;
    transition: height .25s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;*/
}

.head-nav-bar{
    padding: 10px 0;
    text-align: left;
    font-size: 0;
    position: absolute;
    background: #000;
    width: 100%;
    height: 60px;
/*    -webkit-transition: height .25s linear;
    -moz-transition: height .25s linear;
    -o-transition: height .25s linear;
    transition: height .25s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;*/
}


.top-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    text-align: right;
    color: #F0F0F0;
    text-transform: uppercase;
    line-height: 40px;
}


.top-navigation a{
    color: #000;
    font-size: 14px;    
}

.wrapper {
    position: relative;
    width: 960px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.prod-grid{
    height:230px;
/*    color:#fff;*/
}

.prod-grid img{
    height:180px;
    width:180px;
}

.prod-grid label{
    color: #000;
    font-size:14px
}